@{
    ViewBag.Title = "AddCategory";
}
<body style="background-color:#1d5362">
    <form action="/Admin/SaveCategory" method="post">
        <div style="height:300px;width:200px" class="center-block">
            <h3 style="color:black"> Category Name<input type="text" id="name" name="categoryNamae" class="form-control" /></h3>
            <center><button type="submit" class="btn btn-success">Add</button></center>
        </div>
    </form>
</body>