@{
    Layout = null;
    ViewBag.Title = "Index";
}

@using MvcApplication6.Models
@model MvcApplication6.Models.post
<html>
<head>
    <title>title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
<body style="background-color:#1d5362">
    <nav class="navbar navbar-inverse navbar.fixed.top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Ad Posting</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Home">Home</a></li>
                <li class="active"><a href="/Admin/viewfun">view user</a></li>
                @*<li class="active"><a href="">update user</a></li>*@
                <li class="active"><a href="/Admin/Logout">Log out</a></li>
                <li class="active"><a href="/Admin/AddCategory">Add Category</a></li>
            </ul>
            @*<form class="navbar-form navbar-left pull-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="search" />
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>*@
        </div>
    </nav>
    <div class="col-md-offset-3">
        <div class="col-md-12">
            @foreach (post p in Session["postList"] as List<post>)
            {
                <div class="col-md-4">
                    <a href="/Admin/AdminShowPost/@p.post_id">
                        <img src="~/Images/@p.ImagePath" class="img-thumbnail" />
                        <label>Price: @p.prize</label>
                    </a>
                </div>
            }
        </div>
    </div>
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Content/jquery-1.11.3.js"></script>
    <script src="~/Content/jquery.min.js"></script>
</body>
</html>