@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
</head>
<body style="background-color:#1d5362">

    <div class="jumbotron" style="background-color: #57b0c1; color: black; font-family: 'times new roman'">
        <div class="container text-center">
            <h1>Add Posting Site</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="text-align:center">
            <article style="font-family:'Times New Roman';font-size:x-large;text-align:justify">
                <p style="color:black">
                    Add Posting is a best platform to post free classified ads all over the world to increase your products sales.
                    Increase your products sale just post free classified ads on top classified ad posting websites in Pakistan.
                    Grow your business: Classified ad posting is a best way to increase your sale and grow your business.
                </p>

                <p style="color:black">
                    Google search result is a best proof of any product of organization popularity. So when you search about Add Posting Classified website it give you a best result in google search that is the prove of popularity of top classified website.
                </p>

                <p style="color:black">
                    To Post free classified ad just search Add Posting in Google and click on first result in Google.
                    We provide you services until we are at first in google result. When we go down in google search result then you don’t post ad at Add Post.Pk.
                    Thank you.
                    </p>
            </article>    
         </div>
        </div>
</body>
</html>








@*<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>*@

