@{


}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @*<link href="bootstrap.css" rel="stylesheet" />
        <script src="bootstrap.js"></script>*@
</head>

<body style="background-color:#1d5362">
    <div style="background-color:#1d5362">
        @*<nav class="navbar navbar-inverse navbar.fixed.top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ad Posting</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li ><a href="Home/about">About</a></li>
                    <li class="active"><a href="/Home/Contactus">Contact us</a></li>
                    @*<li class="active"><a href=" Home/Signup">Sign up</a></li>*@
        @*<li class=""><a href="Home/Login">Log in</a></li>
                    </ul>
                    <form class="navbar-form navbar-left pull-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="search"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </nav>*@
        <div class="jumbotron" style="background-color:#1d5362">
            <div class="container text-center" style="background-color:#1d5362">
                <h1 style="color:black">Add Posting WebSite</h1>
                <p style="color:black">Here every person create post or purchase something.</p>
                <div class="btn-group" style="background-color:#1d5362">
                    @*<a href="createpost" class="btn btn-lg btn-info">Create Post</a>*@
                    @*<a href="Home/modify" class="btn btn-lg btn-default">Modify Post</a>*@
                    <a href="" class="btn btn-lg btn-info" style="color:black">Add Post</a>
                </div>
            </div>
        </div>
        <div class="row" style="background-color:#1d5362">
            <div class="col-lg-4" style="background-color:#1d5362">
                <blockquote>
                    <p style="color:black">
                        This is an add posting website .Here every person have a right to create a post or doing something using internet.
                    </p>
                    <footer style="color:black">
                        Javad pervaiz
                    </footer>
                </blockquote>
            </div>
            <div class="col-lg-4" style="background-color:#1d5362">
                <blockquote>
                    <p style="color:black">
                        its an interesting site to sale or purchase a things by using internet .This is a modern approach to communicate a business world.
                    </p>
                    <footer style="color:black">
                        Junaid pervaiz
                    </footer>
                </blockquote>
            </div>
            <div class="col-lg-4" style="background-color:#1d5362">
                <blockquote>
                    <p style="color:black">
                        This is an add posting website .Here every person have a right to create a post or doing something using internet.
                    </p>
                    <footer style="color:black">
                        jhanzaib pervaiz
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
    <section style="background-color:#1d5362">
        <div class="well" style="color:#b870fa">
            <div class="container text-center" style="background-color:#1d5362">
                <h3 style="color:black">For Adding  Posts</h3>
                <p style="color:black">Register yourself</p>
                <form action="" class="form-inline" style="background-color:#1d5362">
                    <div class="form-group" style="background-color:#1d5362">
                        @*<label for="subscription">First Name</label>
            <input type="text" class="form-control" id="subscriptiom" placeholder="First Name"/>*@
                        <a href="/Home/Signup" class="form-control btn btn-info"> SignUp@*<input type="submit" value="Sign up" />*@</a>
                        @*<label for="subscription">Email</label>
            <input type="text" class="form-control" id="subscriptiom" placeholder="Enter email" />
            <button class="btn btn-info">Subscribe</button>*@

                    </div>
                    <hr />
                </form>
            </div>
        </div>
    </section> 
    
     
    <div class="footer" style="background-color:#1d5362">
        <div class="copyright" style="color:black">Copyright © 2016 AdPost.pk. All rights reserved. Developed by <a href="#" target="_blank"><span style="color:blueviolet;">Jhanzaib Pervaiz</span></a></div>
        @*<p>Copyright (c) 2008</p>*@
    </div>
    <script src="~/Content/jquery-1.11.3.js"></script>
    <script src="~/Content/jquery.min.js"></script>
</body>

</html>